@model RestaurantViewModel

@{
    ViewData["Title"] = "Restuarant";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Restaurant.RestaurantName</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <ul class="list-group">
            @foreach (var category in Model.MenuCategories)
            {
                <li class="list-group-item">@category.MenuCategoryName</li>
            }
        </ul>
    </div>
    <div class="col-sm-6">
        @foreach (var menuCategory in Model.MenuCategories)
        {
            <h4 class="mb-3">@menuCategory.MenuCategoryName</h4>

            @foreach (var dishItem in Model.DishItems.Where(d => d.Dish.Category.MenuCategoryId == menuCategory.MenuCategoryId))
            {
                <partial name="_DishListItem" model="@dishItem" />

            }

        }
    </div>
    <div id="orderSummaryContainer" class="col-sm-4">
        <partial name="_OrderSummary" model="Model.Order"/>
    </div>
</div>

<div class="modal fade" id="dishItemModal" tabindex="-1" role="dialog" a>
    <div class="modal-dialog" role="document">
        <div id="dishModalContent" class="modal-content">

        </div>
    </div>
</div>


@section Scripts {
<script src="~/js/orderApi.js"></script>
<script src="~/js/validationScript.js"></script>
<script src="~/js/PartialViewScript.js"></script>
}
